.post-toc-absolute {
    position: absolute;
    right: 12%;
}

.post-toc-fixed {
    position: fixed;
    top: 20px;
    right: 12%;
}


/* Media Queries */
@media (max-width: 1080px) {
    .post-toc-absolute {
        display: none;
    }
    .post-toc-fixed {
        display: none;
    }
}
